* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}

.status-section {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10A95B;
  border-radius: 4px;
  margin-block: 20px;
  color: #F9F4DA;
}
.status-section h2 {
  margin: 5px;
  font-size: 1.25rem;
}
.status-section p {
  margin: 5px;
}

.lang-section {
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  border-radius: 4px;
  margin-block: 2rem;
}
.lang {
  border-radius: 4px;
  font-size: 1rem;
  padding: 4px;
}
.word-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
  margin-block: 20px;
}
.word-section span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: #323232;
  color: #F9F4DA;
  border-bottom: #F9F4DA 2px solid;
}

.keyboard-section {
  max-width: 470px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-block: 20px;
}

.keyboard-section button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-color: #FCBA29;
  color: #1E1E1E;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  margin-block: 20px;
  cursor: pointer;
}